.RightDirection {
    direction: rtl;
}

#prayerTable tbody tr td:nth-child(2) {
    text-align: center;
}

#prayerTable tbody tr:hover {
    background-color: #fff; 
    color: #333; 
    font-weight: bold;
    cursor: pointer;
}