.RightDirection {
    direction: rtl;
}

#prayerTable tbody tr td:nth-child(2) {
    text-align: center;
}

#prayerTable tbody tr:hover {
    background-color: #fff; 
    color: #333; 
    font-weight: bold;
    cursor: pointer;
}

.col-6 {
    padding-left: 150px;
}

/* Border animation for the details popup */
#detailsPopup {
  border: 4px solid transparent; /* Initial border */
  border-radius: 10px; /* Rounded corners */
  animation: borderGlow 2s infinite; /* Apply the animation */
}

/* Define the keyframes for the border animation */
@keyframes borderGlow {
  0% {
    border-color: #ff0000; /* Red */
    box-shadow: 0 0 10px #ff0000;
  }
  50% {
    border-color: #00ff00; /* Green */
    box-shadow: 0 0 10px #00ff00;
  }
  100% {
    border-color: #0000ff; /* Blue */
    box-shadow: 0 0 10px #0000ff;
  }
}